body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

button {
    font-weight: 900;
}




.fragment {
    display: flex;
    flex-wrap: wrap;

    box-sizing: border-box;
    width:50vw;
    height: 50vw
}

.square {
    box-sizing: border-box;
    border: 2px solid black;

    transition: background-color 0.3s ease;
}

.square:hover {
    background-color: royalblue;
}