.fragment {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.square {
    box-sizing: border-box;
    border: 2px solid black;
    flex: 1 0 calc(100% / 16);
    aspect-ratio: 1 / 1;

    transition: background-color 0.3s ease;
}

.square:hover {
    background-color: #4169E1;
}